*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
}
header{
    width: 15%;
    background-color: #000;
    text-align: center;
    padding-top: 5px;
}
header svg,
header img{
    width: 35px;
}
ul{
    padding-top: 10px;
    list-style: none;
    color: white;
}
header ul li{
    padding: 5px 0;
}
main{
    display: flex;
    flex-direction: column;
    background-color: #141922;
    width: 100%;
}
main .upgrade-section{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: #080B12;
}
.upgrade-button{
    padding: 10px 30px;
    border: solid white 2px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-weight: bold;
}
main .main-section{
    text-align: center;
    padding: 0 10px;
}
main .main-section li{
    display: inline-block;
    padding: 15px 5px;
    color: #7D7F84;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}
li.active:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 50%;
    background-color: #ADFF2F;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: #282828;
}