*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    background-color: #000;
    text-align: center;
    padding-top: 5px;
}
header svg,
header img{
    width: 35px;
}
header ul{
    padding-top: 10px;
    list-style: none;
    color: white;
}
header ul li{
    padding: 5px 0;
}
main{
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}
main .upgrade-section{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: #1F1E27;
}
main .main-section{
    flex-grow: 10;
}