*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
}
h1{
    padding-top: 30px;
    color: white;
    padding-left: 20px;
}
h3{
    color: white;
    padding-top: 15px;
}
h4{
    color: #707377;
    padding: 10px 0;
    font-size: 14px;
}

.upgrade-button{
    width: 200px;
    height: 45px;
    border: solid white 2px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    flex-shrink: 1;
}


main{
    display: flex;
    flex-direction: row;
    background-color: #141922;
    width: 100%;
}

main nav{
    background-color: black;
    text-align: center;
    padding: 5px 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh -    100px);
    position: relative;
}
main nav .icon-list img{
    max-width: 40px;
    /*max-width: 35%;*/
    display: inline-block;
    margin: 0 auto;
}
img[src="images/logo-small.svg"]{
    max-width: 50px;
    margin: 0 auto;
}
img[src="images/logo.svg"]{
    display: none;
}

main nav span{
    display: none;
    width: 65%
}
main nav li{
    display: flex;
    text-align: left;
    position: relative;
}
main nav li:hover:after,
.vertical-active:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    margin-left: -8px;
    background-color: #ADFF2F;
}
main nav .playlist-container{
    display: none;
    text-align: left;
}
main nav .playlist-container span{
    font-size: 30px;
    width: 30px;
    line-height: 30px;
    background-color: lightgray;
    justify-self: flex-end;
    text-align: center;
    margin-right: 10px;
    color: black
}
main nav .playlist-container li{
    color: #707377;
    font-weight: bold;
    min-width: 100px;
}
main nav .playlist-container h5{
    color: #707377;
    line-height: 30px;
    display: flex;
    margin-top: 10px
}
main nav .playlist-container h4{
    color: #707377;
    width: 100%;
}
main nav .user-profile{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
main nav .user-profile div{
    display: flex;
    align-items: center;
    padding: 15px 0;
}

main nav .user-profile span{
    color: #707377;
    display: none;
    vertical-align: middle;
    text-align: left;
    padding-left: 15px;
}
main nav .user-profile i{
    color: #707377;
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}
main nav .user-profile img{
    border-radius: 50%;
    background-color: grey;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
main nav .user-profile h4{
    color: white;
    font-weight: bold;
    display: inline-block;
}
main .main-section{
    text-align: left;
    background-color: #141922;
    padding: 0 0;
    margin-top: 100px;
    width: 100%;
}
main  .main-section .upgrade-container{
    display: flex;
    justify-content: flex-end;
    background-color: #080B12;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    padding-top: 15px;
    padding-right: 10px;
    z-index: 1;
}
main .album-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.6); 
    box-shadow:  inset 0 0 6px rgba(255,255,255,0.6);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ADFF2F;
}
main .album-container ul{
    text-align: center;
    padding: 10px;
    min-height: 100px;
}
main .album-container li{
    display: inline-block;
    padding: 15px 5px;
    color: #7D7F84;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}
li.active:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 50%;
    background-color: #ADFF2F;
}
ul{
    padding-top: 15px;
    list-style: none;
    color: white;
}
 ul li{
    padding: 2px 0;
}





main .main-section .album-card-container{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
    gap: 25px
}
main .main-section .album-card-container .album-card{
    width: 120px;
    height: fit-content;
    text-align: center;
}
main .main-section .album-card-container .album-card img{
    max-width: 100%;
}
main .main-section .album-card-container:last-child img{
    border-radius: 50%;
}
main .main-section h4{
    margin-left: 15px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #282828;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}
footer div{
    display: flex;
}
footer h4{
    color: white;
    padding-top: 0;
    font-size: 14px;
    padding-bottom: 5px;
}
footer h5{
    color: #707377;
    font-size: 12px;
}
footer p{
    color: white;
}
footer i{
    color: white;
    font-size: 20px;
}
footer .song-info{
    display: flex;
    align-items: center;
}
footer .song-info img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
}

footer .song-info .song-description{
    display: inline-block;
}
footer .icon-left-container{
    display: flex;
    flex-direction: column;
}
footer .icon-left-container i{
    display: block;
    padding: 0 10px;
    color: #707377;
}
footer .song-controller{
    flex-grow: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
}
footer .song-controller .song-controls{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .song-controller .song-controls i{
    font-size: 20px;
    padding: 0 10px;
}
footer .song-controller .song-bar-container{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.song-bar{
    height: 5px;
    background-color: #707377;
    border-radius: 10px;
    flex-grow: 1;
    margin: 0 10px;
    position: relative;
    min-width: 40px;
}
.song-bar::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    background-color: lightgray;
    border-radius: 10px;
}
footer .icon-right-container{
    padding: 0 10px;
    display: flex;
    gap: 15px
}
footer .volume-container{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
footer .volume-container .volume-bar{
    flex-grow: 2;
    
}

@media screen and (min-width: 700px) {
    main nav span{
        display: inline-block;
    }
    main nav .playlist-container{
        display: block;
    }
    img[src="images/logo-small.svg"]{
        display: none;
    }
    img[src="images/logo.svg"]{
        display: inline-block;
        max-width: 200px;
        height: 100px;
    }
    main nav{
        min-width: 30%;
        align-content: flex-start;
        overflow: auto;
    }
    main nav .icon-list li{
        max-width: 150px;
    }
    main nav .user-profile div:nth-child(1){
        border-bottom: solid 2px #707377;
    }
    main nav .user-profile span{
        display: inline-block;
    }

}
@media screen and (min-width: 1200px) {
    main .main-section .album-card-container .album-card{
        width: 200px;
    }
}
@media screen and (max-width: 700px) {
    footer .volume-container .song-bar{
        display: none;
    }
}